<div ng-app="app" ng-controller="homeCtrl">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container-fluid text-center">
    <div layout-gt-sm="row content">
        <div class="col-sm-4 sidenav">
            <p><a href="#">Search</a></p>
            <p><a href="#">New</a></p>
            <p><a href="#">Settings</a></p>
            <p><a href="#">About</a></p>
            <div>
                <md-content>
                    <div>
                        <a href="#" ng-click="showPendingInvites()" >Invitations</a>
                    </div>
                    <div ng-if="value" class="animate-if">
                        <md-list>
                            <md-tabs md-dynamic-height md-border-bottom>
                                <md-tab label="Pending">
                                    <md-list-item ng-repeat="user in pendingInvites" ng-click="goToUser(user.fromUser, $event)" ng-if="(user.status=='pending')" class="noright">
                                        <img alt="{{ user.fromUser }}" ng-src="{{ user.img }}" class="md-avatar">
                                        <p>{{ user.fromUser }}</p>
                                        <md-icon ng-if="(!accepted)" ng-click="acceptInvitation(user.fromUser)" class="md-secondary md-hue-3"><i class="material-icons">done</i></md-icon>
                                        <md-icon ng-if="(!rejected)" ng-click="rejectInvitation(user.fromUser)" class="md-secondary md-hue-3"><i class="material-icons">close</i></md-icon>
                                        <md-icon ng-if="done" class="md-secondary md-hue-3"><i class="material-icons">check_circle</i></md-icon>
                                        <md-icon ng-if="(accepted||rejected)" ng-click="cancelPending(user.fromUser)" class="md-secondary md-hue-3"><i class="material-icons" >delete</i></md-icon>
                                    </md-list-item>
                                    <md-list-item ng-repeat="user in pendingInvites" ng-click="goToUser(user.fromUser, $event)" ng-if="(user.status=='accepted')" class="noright">
                                        <img alt="{{ user.fromUser }}" ng-src="{{ user.img }}" class="md-avatar">
                                        <p>{{ user.fromUser }}</p>
                                        <md-icon class="md-secondary md-hue-3"><i class="material-icons">check_circle</i></md-icon>
                                        <md-icon ng-click="cancelPending(user.fromUser)" class="md-secondary md-hue-3"><i class="material-icons" >delete</i></md-icon>
                                    </md-list-item>
                                    <md-list-item ng-repeat="user in pendingInvites" ng-click="goToUser(user.fromUser, $event)" ng-if="(user.status=='rejected')" class="noright">
                                        <img alt="{{ user.fromUser }}" ng-src="{{ user.img }}" class="md-avatar">
                                        <p>{{ user.fromUser }}</p>
                                        <md-icon ng-click="cancelPending(user.fromUser)" class="md-secondary md-hue-3"><i class="material-icons" >delete</i></md-icon>
                                    </md-list-item>
                                </md-tab>

                                <md-tab label="Sent" md-on-select="showSentInvites()">
                                    <md-list-item ng-repeat="user in sentInvites" ng-click="goToUser(user.toUser, $event)" ng-if="(user.status=='pending')" class="noright">
                                        <img alt="{{ user.toUser }}" ng-src="{{ user.img }}" class="md-avatar">
                                        <p>{{ user.toUser }}</p>
                                        <md-icon ng-if="(!cancelled)" ng-click="withdraw(user.toUser)" class="md-secondary md-hue-3"><i class="material-icons">close</i></md-icon>
                                    </md-list-item>
                                    <md-list-item ng-repeat="user in sentInvites" ng-click="goToUser(user.toUser, $event)" ng-if="(user.status=='accepted')" class="noright">
                                        <img alt="{{ user.toUser }}" ng-src="{{ user.img }}" class="md-avatar">
                                        <p>{{ user.toUser }}</p>
                                        <md-icon class="md-secondary md-hue-3"><i class="material-icons">check_circle</i></md-icon>
                                        <md-icon ng-click="cancelSent(user.toUser)" class="md-secondary md-hue-3"><i class="material-icons" >delete</i></md-icon>
                                    </md-list-item>
                                    <md-list-item ng-repeat="user in sentInvites" ng-click="goToUser(user.toUser, $event)" ng-if="(user.status=='rejected')" class="noright">
                                        <img alt="{{ user.toUser }}" ng-src="{{ user.img }}" class="md-avatar">
                                        <p>{{ user.toUser }}</p>
                                        <md-icon ng-click="cancelSent(user.toUser)" class="md-secondary md-hue-3"><i class="material-icons" >delete</i></md-icon>
                                    </md-list-item>
                                </md-tab>

                            </md-tabs>
                        </md-list>
                    </div>
                </md-content>
            </div>
        </div>
        <div class="col-sm-2 text-left">
            <p> Chat 1 </p>
            <hr>
            <p> Chat 2 </p>
        </div>
        <div class="col-sm-3 sidenav">
            <div class="well">
                <p>Chat 1</p>

                <p>Chat 2</p>
            </div>
        </div>
        <div class="col-sm-3 ">
            <md-content layout-padding="">
                <div layout-gt-sm="row">
                    <md-input-container flex-gt-sm="">
                        <label>Search</label>
                        <input id="search" ng-model="ob.search" ng-change="searchFn()">
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-list flex-gt-sm="">
                        <md-list-item ng-repeat="user in people" ng-if="user.isFriend" ng-click="goToUser(user.username, $event)" class="noright">
                            <img alt="{{ user.name }}" ng-src="{{ user.img }}" class="md-avatar">
                            <p>{{ user.name }}</p>
                            <md-icon class="md-secondary md-hue-3"><i class="material-icons">chat</i></md-icon>
                        </md-list-item>
                        <md-list-item ng-repeat="user in people" ng-if="!(user.isFriend)" ng-click="goToUser(user.username, $event)" class="noright">
                            <img alt="{{ user.name }}" ng-src="{{ user.img }}" class="md-avatar">
                            <p>{{ user.name }}</p>
                            <md-icon ng-if="!isInviteSent" ng-click="sendInvitation(user.username,$event)" class="md-secondary md-hue-3"><i class="material-icons">person_add</i></md-icon>
                            <md-icon ng-if="isInviteSent" class="md-secondary md-hue-3"><i class="material-icons">done</i></md-icon>
                        </md-list-item>
                    </md-list>
                </div>
            </md-content>
        </div>
    </div>
</div>
    <script type="text/ng-template" id="profile.template.html">
        <md-dialog aria-label="profileDialog" style="width:700px; height:500px">
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Your profile</h2>
                    </div>
                </md-toolbar>

                <md-dialog-content >
                    <div class="md-dialog-content">
                        <h3 layout-gt-sm="row">Change dialog content</h3>
                        <md-input-container flex-gt-sm="" layout-gt-sm="row">
                            <label>What do we call you?</label>
                            <input aria-label="name">
                        </md-input-container>
                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button md-primary md-raised ng-click="saveAndCloseProfile()">
                        Save details
                    </md-button>
                    <md-button ng-click="closeProfile()">
                        Skip for now
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
</div>