.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.row.content {height:600px}
.container-fluid{height: 100%}
.sidenav {
    padding-top: 20px;
    background-color: rgba(115, 119, 120, 0.31);
    height: 100%;
}
img.img-circle {
    width: 230px;
    height: 230px;
    border: 1px solid rgba(0, 0, 0, 0.31);
    margin-left:5%;
}
.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-header{
    padding:35px 50px;
}
.modal-footer {
    background-color: #f9f9f9;
}
.modal-body{
    padding:40px 50px;
}