<!--work in progress-->
<div ng-app="app" ng-controller="chatCtrl">
    <md-content>
        <div style="min-height:400px;display:block">
            <md-list>
                <md-list-item ng-repeat="message in messages">
                    <strong>{{message.user}} : </strong>
                    <p>{{message.messageText}}</p>
                    <p style="float:right">{{message.timestamp}}</p>
                </md-list-item>
            </md-list>
        </div>
        <div layout="row" style="position:fixed;bottom:0;display:block;width:100%">
            <form >
                <textarea placeholder="Type something here" ng-model="obj.messageText" style="display:block;resize:none;outline:none;width:95%;float:left;margin-bottom: 0px" rows="3"></textarea>
                <md-button aria-label="send message" class="md-icon-button" style="display:block;width:4%;float:right">
                    <md-icon aria-label="send message" class="md-secondary md-hue-3" ng-click="sendMessage()">
                        <i class="material-icons">send</i>
                    </md-icon>
                </md-button>
            </form>
        </div>
    </md-content>
</div>